<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="D20">
  <!-- for xml export -->
  <!-- <mujoco>
    <compiler meshdir="../meshes/" balanceinertia="true" discardvisual="false"/>
  </mujoco>
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint> -->

  <link name="base_link">
    <inertial>
      <origin xyz="-0.01911435 -0.00012249 -0.02344703" rpy="0 0 0"/>
      <mass value="8.63213826"/>
      <inertia
        ixx="0.06081946"
        ixy="7.589E-05"
        ixz="0.00424718"
        iyy="0.03556591"
        iyz="-4.692E-05"
        izz="0.07073174"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/base_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/base_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0 -0.04" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>

  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0.0425" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="waist_yaw_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.61" upper="2.61" effort="180" velocity="29.8"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="0.014761 0 0.033637" rpy="0 0 0"/>
      <mass value="0.38339"/>
      <inertia
        ixx="0.00032807"
        ixy="4E-08"
        ixz="-1.82E-06"
        iyy="0.000719"
        iyz="0"
        izz="0.00068411"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_yaw_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="0 0 0.0615" rpy="0 0 0"/>
    <parent link="waist_yaw_link"/>
    <child link="waist_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.436" upper="0.436" effort="180" velocity="29.8"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="-4.6E-06 0 -5.065E-05" rpy="0 0 0"/>
      <mass value="0.52278"/>
      <inertia
        ixx="0.00025591"
        ixy="0"
        ixz="0"
        iyy="0.00016814"
        iyz="0"
        izz="0.00036912"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_roll_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="waist_roll_link"/>
    <child link="waist_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.52" upper="0.52" effort="180" velocity="29.8"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="waist_pitch_link">
    <inertial>
      <origin xyz="-0.01852448 0.00166376 0.20347442" rpy="0 0 0"/>
      <mass value="14.28358549"/>
      <inertia
        ixx="0.22803281"
        ixy="-0.00130921"
        ixz="0.00904423"
        iyy="0.17150828"
        iyz="-0.00059085"
        izz="0.15052694"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_pitch_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.13" length="0.25"/>
      </geometry>
    </collision>
  </link>

  <joint name="waist_imu_joint" type="fixed">
    <origin xyz="0.0073949 0 0.057502" rpy="0 0 0"/>
    <parent link="waist_pitch_link"/>
    <child link="waist_imu_link"/>
  </joint>
  <link name="waist_imu_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.02200487"/>
      <inertia
        ixx="1.79E-06"
        ixy="0"
        ixz="0"
        iyy="2.26E-06"
        iyz="9E-08"
        izz="3.42E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_imu_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/waist_imu_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  
  <joint name="head_joint" type="fixed">
    <origin xyz="0 0 0.369" rpy="0 0 0"/>
    <parent link="waist_pitch_link"/>
    <child link="head_link"/>
  </joint>
  <link name="head_link">
    <inertial>
      <origin xyz="0.012563 -3.72E-06 0.12186" rpy="0 0 0"/>
      <mass value="0.80391"/>
      <inertia
        ixx="0.0041827"
        ixy="-5E-08"
        ixz="0.00069273"
        iyy="0.0046841"
        iyz="3.5E-07"
        izz="0.0031874"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/head_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/head_link.STL"/>
      </geometry>
    </collision> -->
  </link>

  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0 0.151 0.294" rpy="0 0 0"/>
    <parent link="waist_pitch_link"/>
    <child link="left_shoulder_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.86" upper="2.86" effort="95" velocity="25.5"/>
  </joint>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.0051019 0.069303 0.00099975" rpy="0 0 0"/>
      <mass value="1.2306"/>
      <inertia
        ixx="0.0018693"
        ixy="-6.073E-05"
        ixz="1.392E-05"
        iyy="0.0015697"
        iyz="1.542E-05"
        izz="0.0020251"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_pitch_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0.042 0.07905 -0.00060137" rpy="0 0 0"/>
    <parent link="left_shoulder_pitch_link"/>
    <child link="left_shoulder_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.087" upper="3.23" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.039454 1.396E-05 -0.084418" rpy="0 0 0"/>
      <mass value="1.1951"/>
      <inertia
        ixx="0.0029105"
        ixy="-1.37E-06"
        ixz="-0.00017191"
        iyy="0.0031457"
        iyz="1.14E-06"
        izz="0.0017019"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_roll_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.042 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="-0.040693 0 -0.13095" rpy="0 0 0"/>
    <parent link="left_shoulder_roll_link"/>
    <child link="left_shoulder_yaw_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.86" upper="2.86" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010684 0.0058624 -0.09312" rpy="0 0 0"/>
      <mass value="1.3303"/>
      <inertia
        ixx="0.0036644"
        ixy="-1.799E-05"
        ixz="0.00035481"
        iyy="0.0035317"
        iyz="0.00013078"
        izz="0.0018878"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_shoulder_yaw_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="left_elbow_pitch_joint" type="revolute">
    <origin xyz="0.014997 0.0426 -0.11386" rpy="0 0 0"/>
    <parent link="left_shoulder_yaw_link"/>
    <child link="left_elbow_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.87" upper="1.83" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_elbow_pitch_link">
    <inertial>
      <origin xyz="0.05379991 -0.03555264 -0.01377749" rpy="0 0 0"/>
      <mass value="0.45103951"/>
      <inertia
        ixx="0.00079453"
        ixy="8.63E-05"
        ixz="0.00010562"
        iyy="0.00112073"
        iyz="-2.078E-05"
        izz="0.00137268"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_elbow_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_elbow_pitch_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.15 -0.0426 -0.015" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.25"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0.11311 -0.0421 -0.015" rpy="0 0 0"/>
    <parent link="left_elbow_pitch_link"/>
    <child link="left_wrist_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.86" upper="2.86" effort="20" velocity="18"/>
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.042234 -0.00036007 0.00014429" rpy="0 0 0"/>
      <mass value="0.46711"/>
      <inertia
        ixx="0.0003188"
        ixy="-3.09E-06"
        ixz="5.2E-07"
        iyy="0.0010142"
        iyz="-2.2E-07"
        izz="0.00099676"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_wrist_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_wrist_roll_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="left_hand_joint" type="fixed">
    <origin xyz="0.16442 0 0" rpy="0 0 0"/>
    <parent link="left_wrist_roll_link"/>
    <child link="left_hand_link"/>
  </joint>
  <link name="left_hand_link">
    <inertial>
      <origin xyz="0.068026 -0.014061 0.010318" rpy="0 0 0"/>
      <mass value="0.35"/>
      <inertia
        ixx="0.00050695"
        ixy="-0.00013929"
        ixz="0.00010009"
        iyy="0.0010545"
        iyz="0.00014911"
        izz="0.0011025"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hand_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hand_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.1 0 0" rpy="1.57 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0 -0.151 0.294" rpy="0 0 0"/>
    <parent link="waist_pitch_link"/>
    <child link="right_shoulder_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.86" upper="2.86" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.0051071 -0.069305 0.0010059" rpy="0 0 0"/>
      <mass value="1.2306"/>
      <inertia
        ixx="0.001869"
        ixy="5.953E-05"
        ixz="1.394E-05"
        iyy="0.0015695"
        iyz="-1.62E-05"
        izz="0.0020253"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_pitch_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0.042 -0.07905 0.00020807" rpy="0 0 0"/>
    <parent link="right_shoulder_pitch_link"/>
    <child link="right_shoulder_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-3.23" upper="0.087" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.039644 -3.852E-05 -0.084415" rpy="0 0 0"/>
      <mass value="1.1952"/>
      <inertia
        ixx="0.0029112"
        ixy="2.1E-07"
        ixz="-0.00016492"
        iyy="0.0031466"
        iyz="-2.6E-07"
        izz="0.0017029"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_roll_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.042 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="-0.041502 0 -0.13176" rpy="0 0 0"/>
    <parent link="right_shoulder_roll_link"/>
    <child link="right_shoulder_yaw_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.86" upper="2.86" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010677 -0.0058606 -0.093117" rpy="0 0 0"/>
      <mass value="1.33"/>
      <inertia
        ixx="0.0036624"
        ixy="1.857E-05"
        ixz="0.00035281"
        iyy="0.0035286"
        iyz="-0.00013045"
        izz="0.0018869"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_shoulder_yaw_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="right_elbow_pitch_joint" type="revolute">
    <origin xyz="0.015806 -0.0426 -0.11386" rpy="0 0 0"/>
    <parent link="right_shoulder_yaw_link"/>
    <child link="right_elbow_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.87" upper="1.83" effort="95" velocity="25.5"/>
  </joint>
  <link name="right_elbow_pitch_link">
    <inertial>
      <origin xyz="0.05389168 0.03571519 -0.0137834" rpy="0 0 0"/>
      <mass value="0.45286413"/>
      <inertia
        ixx="0.0007976"
        ixy="-8.789E-05"
        ixz="0.00010564"
        iyy="0.0011222"
        iyz="2.089E-05"
        izz="0.00137701"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_elbow_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_elbow_pitch_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.15 0.0426 -0.015" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.25"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0.11311 0.0421 -0.015" rpy="0 0 0"/>
    <parent link="right_elbow_pitch_link"/>
    <child link="right_wrist_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.86" upper="2.86" effort="20" velocity="18"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.0422 2.49E-05 2.579E-05" rpy="0 0 0"/>
      <mass value="0.46765"/>
      <inertia
        ixx="0.00031919"
        ixy="2.63E-06"
        ixz="-2.1E-07"
        iyy="0.001015"
        iyz="1.44E-06"
        izz="0.00099871"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_wrist_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_wrist_roll_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="right_hand_joint" type="fixed">
    <origin xyz="0.16442 0 0" rpy="0 0 0"/>
    <parent link="right_wrist_roll_link"/>
    <child link="right_hand_link"/>
  </joint>
  <link name="right_hand_link">
    <inertial>
      <origin xyz="0.068022 0.014061 0.010315" rpy="0 0 0"/>
      <mass value="0.35"/>
      <inertia
        ixx="0.000507"
        ixy="0.00013929"
        ixz="0.00010007"
        iyy="0.0010546"
        iyz="-0.00014913"
        izz="0.0011026"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hand_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hand_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.1 0 0" rpy="1.57 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.11842 -0.063749" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="left_hip_pitch_link"/>
    <axis xyz="0 0.79864 -0.60182"/>
    <limit lower="-2.61" upper="2.61" effort="180" velocity="16"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.00611075 0.01626822 -0.08783378" rpy="0 0 0"/>
      <mass value="2.83037863"/>
      <inertia
        ixx="0.0075364"
        ixy="3.36E-06"
        ixz="0.00020918"
        iyy="0.00771961"
        iyz="-2.885E-05"
        izz="0.0046749"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0.0548 0.016583 -0.10105" rpy="0 0 0"/>
    <parent link="left_hip_pitch_link"/>
    <child link="left_hip_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.92" upper="1.95" effort="180" velocity="16"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="-0.0546417 -0.00028686 -0.11130182" rpy="0 0 0"/>
      <mass value="3.02516447"/>
      <inertia
        ixx="0.01364714"
        ixy="-3.016E-05"
        ixz="-1.98E-06"
        iyy="0.01458614"
        iyz="7.447E-05"
        izz="0.00691058"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.0548 0 -0.09" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.065" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="-0.0548 0 -0.1818" rpy="0 0 0"/>
    <parent link="left_hip_roll_link"/>
    <child link="left_hip_yaw_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.61" upper="2.61" effort="180" velocity="16"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.02464806 0.00441327 -0.11803108" rpy="0 0 0"/>
      <mass value="3.80508879"/>
      <inertia
        ixx="0.01414802"
        ixy="4.66E-05"
        ixz="-0.00158583"
        iyy="0.01124077"
        iyz="0.00014455"
        izz="0.01004127"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_hip_yaw_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0 -0.13" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision>
  </link>

  <!-- aux joint and link -->
  <joint name="left_knee_aux_joint" type="fixed">
    <!-- <origin xyz="0.0 0.0 -0.1332" rpy="0 0 0"/> -->
    <origin xyz="0.0 0.0 -0.165" rpy="0 0 0"/>
    <parent link="left_hip_yaw_link"/>
    <child link="left_knee_aux_link"/>
  </joint>
  <link name="left_knee_aux_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia
        ixx="0.00001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00001"
        iyz="0.0"
        izz="0.00001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 -0.13" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision> -->
  </link>

  <joint name="left_knee_pitch_joint" type="revolute">
    <origin xyz="-0.03 0.0629 -0.1332" rpy="0 0 0"/>
    <parent link="left_hip_yaw_link"/>
    <child link="left_knee_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.139" upper="2.42" effort="295" velocity="20.2"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_knee_pitch_link">
    <inertial>
      <origin xyz="0.02157184 -0.06368383 -0.18654806" rpy="0 0 0"/>
      <mass value="4.65741361"/>
      <inertia
        ixx="0.06412547"
        ixy="-7.266E-05"
        ixz="-0.00127951"
        iyy="0.06504386"
        iyz="-1.243E-05"
        izz="0.01008174"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_knee_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_knee_pitch_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.01 -0.0629 -0.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.055" length="0.25"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0.03 -0.0629 -0.45" rpy="0 0 0"/>
    <parent link="left_knee_pitch_link"/>
    <child link="left_ankle_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.942" upper="0.593" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="0 0.00016177 0.00018439" rpy="0 0 0"/>
      <mass value="0.2006429"/>
      <inertia
        ixx="4.298E-05"
        ixy="0"
        ixz="0"
        iyy="2.793E-05"
        iyz="0"
        izz="6.025E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_ankle_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_ankle_pitch_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="left_ankle_pitch_link"/>
    <child link="left_ankle_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.436" upper="0.436" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.017082 0.00033918 -0.03744" rpy="0 0 0"/>
      <mass value="0.83349"/>
      <inertia
        ixx="0.00078458"
        ixy="-9.82E-06"
        ixz="0.00044543"
        iyy="0.0048215"
        iyz="3.15E-06"
        izz="0.0048745"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_ankle_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/left_ankle_roll_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.039 0 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.285"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 0.01 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.285"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 0.02 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.28"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 0.03 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.27"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 0.04 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.25"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 -0.01 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.285"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 -0.02 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.28"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 -0.03 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.27"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 -0.04 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.25"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_toe_joint" type="fixed">
    <origin xyz="0.12 0 -0.05" rpy="0 0 0"/>
    <parent link="left_ankle_roll_link"/>
    <child link="left_toe_link"/>
  </joint>
  <link name="left_toe_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia
        ixx="0.00001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00001"
        iyz="0.0"
        izz="0.00001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0.0 0 0.0" rpy="0 0.0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="left_toe_ee_joint" type="fixed">
    <origin xyz="0.18 0 -0.06" rpy="0 0 0"/>
    <parent link="left_ankle_roll_link"/>
    <child link="left_toe_ee_link"/>
  </joint>
  <link name="left_toe_ee_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia
        ixx="0.00001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00001"
        iyz="0.0"
        izz="0.00001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0.0 0 0.0" rpy="0 0.0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision> -->
  </link>

  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.11842 -0.063749" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="right_hip_pitch_link"/>
    <axis xyz="0 0.79864 0.60182"/>
    <limit lower="-2.61" upper="2.61" effort="180" velocity="16"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.0061105 -0.016086 -0.087839" rpy="0 0 0"/>
      <mass value="2.8303"/>
      <inertia
        ixx="0.0075346"
        ixy="0"
        ixz="0.00020912"
        iyy="0.007718"
        iyz="2.935E-05"
        izz="0.0046746"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_pitch_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0.0548 -0.016583 -0.10105" rpy="0 0 0"/>
    <parent link="right_hip_pitch_link"/>
    <child link="right_hip_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.95" upper="0.92" effort="180" velocity="16"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="-0.05464095 0.00045788 -0.11129982" rpy="0 0 0"/>
      <mass value="3.02516307"/>
      <inertia
        ixx="0.01364725"
        ixy="2.415E-05"
        ixz="-1.87E-06"
        iyy="0.01458577"
        iyz="-7.257E-05"
        izz="0.00691008"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_roll_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.0548 0 -0.09" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.065" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="-0.0548 0 -0.1818" rpy="0 0 0"/>
    <parent link="right_hip_roll_link"/>
    <child link="right_hip_yaw_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.61" upper="2.61" effort="180" velocity="16"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.02469695 -0.0044211 -0.11803199" rpy="0 0 0"/>
      <mass value="3.80475035"/>
      <inertia
        ixx="0.01414647"
        ixy="-4.756E-05"
        ixz="-0.00159145"
        iyy="0.01124132"
        iyz="-0.00014391"
        izz="0.01004119"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_yaw_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_hip_yaw_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0 -0.13" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision>
  </link>

  <!-- aux joint and link -->
  <joint name="right_knee_aux_joint" type="fixed">
    <!-- <origin xyz="0.0 0.0 -0.1332" rpy="0 0 0"/> -->
    <origin xyz="0.0 0.0 -0.165" rpy="0 0 0"/>
    <parent link="right_hip_yaw_link"/>
    <child link="right_knee_aux_link"/>
  </joint>
  <link name="right_knee_aux_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia
        ixx="0.00001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00001"
        iyz="0.0"
        izz="0.00001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 -0.13" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision> -->
  </link>

  <joint name="right_knee_pitch_joint" type="revolute">
    <origin xyz="-0.03 -0.0629 -0.1332" rpy="0 0 0"/>
    <parent link="right_hip_yaw_link"/>
    <child link="right_knee_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.139" upper="2.42" effort="295" velocity="20.2"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_knee_pitch_link">
    <inertial>
      <origin xyz="0.02157288 0.06374404 -0.18654174" rpy="0 0 0"/>
      <mass value="4.65831127"/>
      <inertia
        ixx="0.0641519"
        ixy="9.066E-05"
        ixz="-0.00129823"
        iyy="0.06507558"
        iyz="3.411E-05"
        izz="0.01007031"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_knee_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_knee_pitch_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.01 0.0629 -0.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.055" length="0.25"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0.03 0.0629 -0.45" rpy="0 0 0"/>
    <parent link="right_knee_pitch_link"/>
    <child link="right_ankle_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.942" upper="0.593" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="0 0.00016177 0.00018439" rpy="0 0 0"/>
      <mass value="0.2006429"/>
      <inertia
        ixx="4.298E-05"
        ixy="0"
        ixz="0"
        iyy="2.793E-05"
        iyz="0"
        izz="6.025E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_ankle_pitch_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_ankle_pitch_link.STL"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="right_ankle_pitch_link"/>
    <child link="right_ankle_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.436" upper="0.436" effort="95" velocity="25.5"/>
    <dynamics damping="0" friction="0"/>
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.01708232 0.00033918 -0.03744029" rpy="0 0 0"/>
      <mass value="0.83349292"/>
      <inertia
        ixx="0.00078458"
        ixy="-9.82E-06"
        ixz="0.00044543"
        iyy="0.00482147"
        iyz="3.15E-06"
        izz="0.00487446"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_ankle_roll_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/right_ankle_roll_link.STL"/>
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.039 0 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.285"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 0.01 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.285"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 0.02 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.28"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 0.03 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.27"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 0.04 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.25"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 -0.01 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.285"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 -0.02 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.28"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 -0.03 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.27"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.039 -0.04 -0.062" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.25"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_toe_joint" type="fixed">
    <origin xyz="0.12 0 -0.05" rpy="0 0 0"/>
    <parent link="right_ankle_roll_link"/>
    <child link="right_toe_link"/>
  </joint>
  <link name="right_toe_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia
        ixx="0.00001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00001"
        iyz="0.0"
        izz="0.00001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0.0 0 0.0" rpy="0 0.0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision> -->
  </link>
  <joint name="right_toe_ee_joint" type="fixed">
    <origin xyz="0.18 0 -0.06" rpy="0 0 0"/>
    <parent link="right_ankle_roll_link"/>
    <child link="right_toe_ee_link"/>
  </joint>
  <link name="right_toe_ee_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia
        ixx="0.00001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00001"
        iyz="0.0"
        izz="0.00001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0.0 0 0.0" rpy="0 0.0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision> -->
  </link>


  <!-- Explicitly disable collision between these two links -->
  <disable_collisions link1="left_hip_yaw_link" link2="left_hip_roll_link" reason="Adjacent links sharing a joint" />
  <disable_collisions link1="right_hip_yaw_link" link2="right_hip_roll_link" reason="Adjacent links sharing a joint" />

</robot>